*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: "Uzi";
    src: url("https://raw.githubusercontent.com/vickkie/uzitrake/main/fonts/Uzi-stylish.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Uzicute";
    src: url("https://raw.githubusercontent.com/vickkie/uzitrake/main/fonts/Uzicute.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    font-family: 'Uzi', sans-serif;
    /* background-image: url('../assets/images/gradientbg.jpg'); */
    /* background-size: cover; */
}

@media (prefers-color-scheme: light) {
    html {
        background: black;
        color: white;
    }
}

.header {
    display: flex;
    flex-direction: row;
    background: #f0f0f0;
    flex-wrap: wrap;
    align-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Uzi', sans-serif;
    z-index: 1000;
    border-radius: 50px;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 20px rgba(167, 161, 161, 0.2);
    /* box-shadow: 0 15px 40px -20px rgba(40,44,63,.15); */
    display: flex;
    width: 50%;
    height: 75px;
    justify-content: space-evenly;
    transition: all 0.5s;

    .navItem {
        transition: opacity 1s;

        a {
            transition: all .2s;
            position: relative;
            padding: 1rem 2rem;
            border-radius: 5px;
            text-decoration: none;
            color: unset;

            &:hover {
                background-color: #cccccc;
                border-radius: 50px;
            }
        }
    }
}

.logo {
    width: 100%;
    display: contents;
    transition: all 1s;
    font-family: 'Uzicute', sans-serif;

    h2 {
        transition: transform .3s cubic-bezier(.215, .61, .355, 1);

        &:hover {
            transform: scale(1.1);
        }
    }

    img {
        transition: all 1s;
        width: 50px;
    }
}

.widen {
    width: 100%;
    top: 0rem;
    border-radius: 0px;
    background-color: #d7d7d7aa;
    color: black;
}

/* .rest-card {
    background-color: #eee;
} */

.body {
    position: relative;
    top: 7rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: #d7d7d7aa; */
    backdrop-filter: blur(5px);

    .rest-card-container {
        display: flex;
    }
}

.search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: all 0.5s;
    input {
        width: 30%;
        height: 50px;
        border-radius: 10px;
        border: none;
        margin: 10px;
        text-align: center;
        background: #f0f0f0;
    }

    .filter {
        cursor: pointer;
        border: none;
        border-radius: 50px;
        width: 15%;
        margin: 10px;
        border: 0.5px dashed black;
        &:hover{
            border: 1px solid black;
            background: #cccccc;
        }
    }

    .search-inner {
        display: flex;
        width: 50%;
    }
}

/* CSS for cards */
.rest-card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.rest-card {
    max-width: 100%;
    min-width: 150px;
    margin: 0;
    flex: 0 1 16.66%;
    padding: 1rem;

    @media only screen and (max-width: 1200px) {
        flex-basis: 20%;
    }

    @media only screen and (max-width: 768px) {
        flex-basis: 25%;
    }
}

.card-content {
    padding: 0 0 0 0;
    background: no-repeat transparent 50% 50%;
    background-size: cover;
    border: 0px solid rgba(0, 0, 0, 0.25);
    border-top: 0px solid rgba(255, 255, 255, 0.1);
    /* box-shadow: 0 8px 10px -2px rgba(0, 0, 0, 0.5); */
    box-shadow: 0px 0px 20px rgba(167, 161, 161, 0.2);
    transition: all ease 0.28s 0.01s;
    transform: perspective(222px) translate3d(0px, 5px, 0px) rotateX(0deg);
    perspective-origin: top;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 10px;
    height: 300px;

    &::before {
        width: 100%;
        height: 172%;
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        background-image: linear-gradient(35deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 51.5%, rgba(255, 255, 255, 0.15) 54%, rgba(255, 255, 255, 0.15) 100%);
        transform: translateY(-36%);
        opacity: 0.5;
        transition: all ease 0.28s 0.01s;
    }

    &::after {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 100px;
        left: 0;
        content: "";
        background-image: linear-gradient(to bottom, transparent 0%, black 50%);
    }

    &:hover,
    &:focus {
        border: 0px solid rgba(0, 0, 0, 0.1);
        transform: perspective(300px) translate3d(0px, 0px, 8px) rotateX(3deg);
        transform-origin: center;
        box-shadow: 0 14px 16px -2px rgba(0, 0, 0, 0.5);
        cursor: pointer;

        &::before {
            opacity: 1;
            transform: translateY(-20%);
        }
    }

    &:active {
        filter: brightness(80%) contrast(110%);
    }
}

.rest-details {
    padding: 0px 10px;
    padding-bottom: 1px;
    color: #f8eeee;
    position: relative;
    z-index: 1;
    /* height: 100px; */
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;

    .rest-name {
        &.skeleton {
            min-height: 28px;
            border-radius: 10px;
            margin-bottom: 20px;
            /* opacity: 0.3; */
            animation: shine 1s ease infinite;
        }
    }

    .rest-subdetails {
        &.skeleton-parent {
            opacity: .7;
            border-radius: 10px;
            height: 120px;
            margin-bottom: 10px;
            animation: shine 1s ease infinite;
        }

        div {
            &.skeleton {
                opacity: .5;
                border-radius: 10px;
                height: 20px;
                width: 55%;
                margin-bottom: 10px;
                animation: shine 1s ease infinite;
            }
        }

        p {
            &.skeleton {
                opacity: .5;
                border-radius: 10px;
                height: 20px;
                margin-top: 25px;
                animation: shine 1s ease infinite;
            }
        }

        p:nth-child(3) {
            &.skeleton {
                opacity: .5;
                border-radius: 10px;
                height: 20px;
                width: 35%;
                margin-top: 25px;
                animation: shine 1s ease infinite;
            }
        }
    }
}

.skeleton {
    background-color: #e2e5e7;
    background-image:
        linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    background-size: 40px 100%;
    background-repeat: no-repeat;
    background-position: left -40px top 0;
    animation: shine 1.5s ease infinite;
}

@keyframes shine {
    to {
        background-position: right -40px top 0;
    }
}

.login-button {
    background-image: url('https://www.flaticon.com/free-icon/login_95461?term=login&page=1&position=25&origin=tag&related_id=95461');
    cursor: pointer;
}