*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: "Uzi";
    src: url("https://raw.githubusercontent.com/vickkie/uzitrake/main/fonts/Uzi-stylish.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Uzicute";
    src: url("https://raw.githubusercontent.com/vickkie/uzitrake/main/fonts/Uzicute.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

body {
    margin: 0px;
    font-family: 'Uzi', sans-serif;
    /* background-image: url('../assets/images/gradientbg.jpg'); */
    /* background-size: cover; */
}

@media (prefers-color-scheme: dark) {
    html { background: black; color: white; }
  }

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Uzi', sans-serif;
    z-index: 1000;
    border-radius: 200px;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 20px rgba(167, 161, 161, 0.2);
    display: flex;
    width: 35%;
    height: 75px;
    justify-content: space-evenly;
    transition: all 0.5s;

    .navItem {
        transition: opacity 1s;

        a {
            transition: all .2s;
            position: relative;
            padding: 1rem 2rem;
            border-radius: 5px;
            text-decoration: none;
            color: unset;

            &:hover {
                background-color: #7e7e7e;
            }
        }
    }
}

.logo {
    width: 100%;
    display: contents;
    transition: all 1s;
    font-family: 'Uzicute', sans-serif;
    img {
        transition: all 1s;
        width: 50px;
    }
}

.widen {
    width: 100%;
    top: 0rem;
    border-radius: 0px;
    background-color: #d7d7d7aa;
    color: black;
}

/* .rest-card {
    background-color: #eee;
} */

.body {
    position: relative;
    top: 7rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: #d7d7d7aa; */
    backdrop-filter: blur(5px);

    .rest-card-container {
        display: flex;
    }
}

.search {
    width: 50%;
    display: flex;
    input {
        width: 30%;
        height: 50px;
        border-radius: 10px;
        border: none;
        margin: 10px;
        text-align: center;
    }
    .filter {
        margin: 10px;
        width: 40%;
        border-radius: 10px;
        border: none;
        cursor: pointer;
    }
}

/* CSS for cards */
.rest-card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.rest-card {
    max-width: 100%;
    min-width: 150px;
    margin: 0;
    flex: 0 1 16.66%;
    padding: 1rem;

    @media only screen and (max-width: 1200px) {
        flex-basis: 20%;
    }

    @media only screen and (max-width: 768px) {
        flex-basis: 25%;
    }
}

.card-content {
    padding: 0 0 0 0;
    background: no-repeat transparent 50% 50%;
    background-size: cover;
    border: 0px solid rgba(0, 0, 0, 0.25);
    border-top: 0px solid rgba(255, 255, 255, 0.1);
    /* box-shadow: 0 8px 10px -2px rgba(0, 0, 0, 0.5); */
    box-shadow: 0px 0px 20px rgba(167, 161, 161, 0.2);
    transition: all ease 0.28s 0.01s;
    transform: perspective(222px) translate3d(0px, 5px, 0px) rotateX(0deg);
    perspective-origin: top;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 10px;
    height: 300px;

    &::before {
        width: 100%;
        height: 172%;
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        background-image: linear-gradient(35deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 51.5%, rgba(255, 255, 255, 0.15) 54%, rgba(255, 255, 255, 0.15) 100%);
        transform: translateY(-36%);
        opacity: 0.5;
        transition: all ease 0.28s 0.01s;
    }
    &::after {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 100px;
        left: 0;
        content: "";
        background-image: linear-gradient(to bottom, transparent 0%, black 50%);
    }
    &:hover,
    &:focus {
        border: 0px solid rgba(0, 0, 0, 0.1);
        transform: perspective(300px) translate3d(0px, 0px, 8px) rotateX(3deg);
        transform-origin: center;
        box-shadow: 0 14px 16px -2px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        &::before {
            opacity: 1;
            transform: translateY(-20%);
        }
    }

    &:active {
        filter: brightness(80%) contrast(110%);
    }
}

.rest-details {
    padding: 0px 10px;
    padding-bottom: 1px;
    color:#f8eeee;
    position: relative;
    z-index: 1;
    /* height: 100px; */
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}